# Objekte und Datenstrukturen Assessment

## Teste dein Wissen

#### Beantworte die folgenden Fragen:

Schreibe eine kurze Beschreibung aller folgenden Objekt Typen und Daten Strukturen:

#### Für die vollständige Antwort könnt ihr die Lektionen wiederholen.

[Zahlen](http://nbviewer.jupyter.org/github/datamics/Originale-Python-Bootcamp/blob/master/013_Zahlen.ipynb)

[Strings](http://nbviewer.jupyter.org/github/datamics/Originale-Python-Bootcamp/blob/master/015_Strings.ipynb)

[Listen](http://nbviewer.jupyter.org/github/datamics/Originale-Python-Bootcamp/blob/master/019_Listen.ipynb)

[Tupel](http://nbviewer.jupyter.org/github/datamics/Originale-Python-Bootcamp/blob/master/023_Tupel.ipynb)

[Dictionaries](http://nbviewer.jupyter.org/github/datamics/Originale-Python-Bootcamp/blob/master/021_Dictionaries.ipynb)


## Zahlen

Schreibe eine Gleichung, die Multiplikation, Division, einen Exponenten, Addition und Subtraktion nutzt und 100.25 ergibt.

Hinweis: Es geht nur darum, die grundsätzlichen Funktionen der Arithmetik zu kennen, ihr könnt vom Ergebnis aus starten.

In [8]:
# Eure Antwort ist vermutlich anders
( (200000 + (10 ** 5) ) / (12 * 25) ) - 899.75

100.25

Erkläre, was die nächste Zelle ergeben wird und warum es in Python 2 anders wäre.

In [9]:
2/3

0.6666666666666666

#### Antwort: Python 2 führt klassische Division für Zahlen durch. Dort müssen wir Gleitkommazahlen nutzen. Zum Beispiel: 2.0/3 

Beantworte diese 3 Fragen, ohne den Code zu schreiben. Dann schreibe den Code und überprüfe deine Ergebnisse.

1| Was ist das Ergebnis der folgenden Berechnungen?
    
    4 * (6 + 5)
    
    4 * 6 + 5 
    
    4 + 6 * 5

In [10]:
4 * (6 + 5)

44

In [11]:
4 * 6 + 5

29

In [12]:
4 + 6 * 5

34

2| Welchem <i>Typ</i> entspricht das Ergebnis der Gleichung 3 + 1.5 + 4?

#### Antwort: Gleitkommazahl

3| Was würdest du verwenden, um die Quadratwurzel einer Zahl zu erhalten und was für die Quadratur?

In [13]:
100 ** 0.5

10.0

In [14]:
10 ** 2

100

## Strings

Wir nehmen den String "Hallo" als Ausgangsposition. Nutze ein Index Kommando, dass den Buchstaben "a" zurück gibt. Nutze die nächste Zelle:

In [15]:
s = "Hallo"
# Gebe "a" aus, indem du Index verwendest
s[1]

'a'

Den String "Hallo" rückwärst schreiben:

In [16]:
s = "Hallo"
# Schreibe s rückwärts, indem du Index verwendest
s[::-1]

'ollaH'

Zeige zwei Methoden, um den Buchstaben "o" durch Index zu erhalten:

In [17]:
s = "Hallo"
# Lösung 1
s[-1]
# Lösung 2
s[4]

'o'

## Listen

Erstelle die Liste [0,0,0] auf zwei unterschiedliche Arten.

In [18]:
# Methode 1
[0]*3
# Methode 2
l = [0,0,0]
l

[0, 0, 0]

Ersetze in dieser verschachtelten Liste "Hallo", um stattdesssen "Auf wiedersehen" zu sagen.

In [20]:
l = [1,2,[3,4,'Hallo']]
l[2][2] = 'Auf wiedersehen'
l

[1, 2, [3, 4, 'Auf wiedersehen']]

Sortiere die folgende Liste:

In [21]:
l = [3,4,5,5,6]
# Methode 1
sorted(l)
# Methode 2
l.sort()
l

[3, 4, 5, 5, 6]

## Dictionaries

Schnappe dir das "Hallo" aus folgendem Dictionary indem du Keys und Index benutzt:

In [22]:
d = {'Einfacher_Key':'Hallo'}
# Das "Hallo" ausgeben
d['Einfacher_Key']

'Hallo'

In [23]:
d = {'k1':{'k2':'Hallo'}}
# Das "Hallo" ausgeben
d['k1']['k2']

'Hallo'

In [24]:
# Es wird etwas tiefer
d = {'k1':[{'key_ebene2':['das ist tief',['Hallo']]}]}
# Das "Hallo" ausgeben
d['k1'][0]['key_ebene2'][1][0]

'Hallo'

In [25]:
# Das wird jetzt schwer und etwas nervig!
d = {'k1':[1,2,{'k2':['etwas kompliziert',{'schwer':[1,2,['Hallo']]}]}]}
# Das "Hallo" ausgeben
d['k1'][2]['k2'][1]['schwer'][2][0]

'Hallo'

Kann man ein Dictionary sortieren? Warum oder warum nicht?

#### Antwort: Nein! Das liegt daran, dass sie keine Sequenz sind.

## Tupel

Was ist der Hauptunterschied zwischen Tupeln und Listen?

#### Tupel sind unveränderlich

Wie erstellt man ein Tupel?

    t = (1,2,3)

## Set

Was ist einzuigartig an Sets?

Benutze ein Set umd die einzigartigen Werte der folgenden Liste zu finden:

In [26]:
l = [1,2,2,33,4,4,11,22,3,3,2]
# Set erstellen
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

Für das folgende Quiz, bekommen wir hier eine Vorschau für die Vergleichsoperatoren:
<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Beschreibung</th><th>Beispiel</th>
</tr>
<tr>
<td>==</td>
<td>Wenn der Wert zweier Operanten gleich ist, wird die Bedingung True (wahr).</td>
<td> (a == b) ist nicht True.</td>
</tr>
<tr>
<td>!=</td>
<td>Wenn der Wert zweier Operanten nicht gleich ist, wird die Bedinung True (wahr).</td>
<td>(a != b) ist True</td>
</tr>
<tr>
<td>&gt;</td>
<td>Wenn der Wert des linken Operanten größer als der des rechten ist, dann wird die Bedingung True (wahr).</td>
<td> (a &gt; b) ist nicht Wahr.</td>
</tr>
<tr>
<td>&lt;</td>
<td>Wenn der Wert des linken Operanten kleiner als der des rechten ist, dann wird die Bedingung True (wahr).</td>
<td> (a &lt; b) ist True (wahr).</td>
</tr>
<tr>
<td>&gt;=</td>
<td>Wenn der Wert des linken Operanten größer als oder gleich dem des rechten ist, dann wird die Bedingung True (wahr).</td>
<td> (a &gt;= b) ist nicht True (wahr). </td>
</tr>
<tr>
<td>&lt;=</td>
<td>Wenn der Wert des linken Operanten kleiner als oder gleich dem des rechten ist, dann wird die Bedingung True (wahr).</td>
<td> (a &lt;= b) ist True (wahr). </td>
</tr>
</table>

Was wird der Boolean Wert sein, den folgende Codes erzeugen? Antwortet bevor ihr die Zellen ausführt!

In [27]:
# Zuerst beantworten, dann ausführen
2 > 3

False

In [28]:
# Zuerst beantworten, dann ausführen
3 <= 2

False

In [29]:
# Zuerst beantworten, dann ausführen
3 == 2.0

False

In [30]:
# Zuerst beantworten, dann ausführen
3.0 == 3

True

In [31]:
# Zuerst beantworten, dann ausführen
4**0.5 != 2

False

Letzte Frage: Was ergibt der folgende Codeblock?

In [32]:
# Zwei verschachtelte Listen
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Gut gemacht! Das war dein erstes Assessment.