# Fortgeschrittene Sets

In dieser Lektion werden wir uns mit verschiedenen Methoden für Sets auseinandersetzen, die ihr bis jetzt noch nicht gesehen haben könntet. Wir wiederholen die bekannten und tauchen dann ein wenig tiefer ein. Los geht's!

In [1]:
s = set()

## Hinzufügen

Um Elemente zum Set hinzuzufügen nutzen wir add(). Denkt daran, dass ein Set keine duplizierten Elemente aufnimmt und sie nur ein mal darstellt. Deshalb ist es ein Set!

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

## Zurücksetzen

Clear() entfernt alle Elemente aus dem Set.

In [5]:
s.clear()

In [6]:
s

set()

## Kopieren

Die Methode copy() kopiert ein Set. Bedenkt, dass es wirkliche eine Kopie ist, d.h. Veränderungen an einem der Sets lassen das andere unberührt.

In [7]:
s = {1,2,3}
sc = s.copy()

In [8]:
sc

{1, 2, 3}

In [9]:
s.add(4)

In [10]:
s

{1, 2, 3, 4}

In [11]:
sc

{1, 2, 3}

## Unterschied

Um herauszufinden, was zwei Sets unterscheidet können wir difference() verwenden. Die Schreibweise lautet:

    set1.difference(set2)
    
Zum Beispiel:

In [12]:
s.difference(sc)

{4}

## Unterschied + Update

Die difference_update Schreibweise lautet:

    set1.difference_update(set2)
    
Diese Methode gibt set1 zurück, nachdem die Elemente entfernt wurden, die in Set 2 enthalten sind.

In [13]:
s1 = {1,2,3}

In [14]:
s2 = {1,4,5}

In [15]:
s1.difference_update(s2)

In [16]:
s1

{2, 3}

## Element entfernen

Sofern ein Element Bestandteil eines Sets ist, kann es mit discard() entfernt werden. Andernfalls passiert nichts.

In [17]:
s

{1, 2, 3, 4}

In [18]:
s.discard(4)

In [19]:
s

{1, 2, 3}

## Überschneidung

intersection() und intersection_update() geben die Überschneidung von zwei oder mehr Sets als neues Set zurück.

In [20]:
s1 = {1,2,3}

In [21]:
s2 = {1,2,4}

In [22]:
s1.intersection(s2)

{1, 2}

In [23]:
s1

{1, 2, 3}

intersection_update() wird ein Set mit der Schnittmenge von sich selbst und einem weiteren Set überschreiben.

In [24]:
s1.intersection_update(s2)

In [25]:
s1

{1, 2}

## Keine Überschneidung

Um zu überprüfen, ob zwei Sets keine Schnittmenge haben, verwenden wir isdisjoint(). Diese Methode gibt True (wahr) aus, falls keine Schnittmenge vorliegt.

In [26]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [27]:
s1.isdisjoint(s2)

False

In [28]:
s1.isdisjoint(s3)

True

## Teilmenge / Subset / Superset

Die Methode issubset() ermittelt, ob ein anderes Set ein bestimmtes Set beinhaltet.

In [29]:
s1

{1, 2}

In [30]:
s2

{1, 2, 4}

In [31]:
s1.issubset(s2)

True

Die Methode issuperset() ermittelt, ob ein bestimmtes Set ein anderes Set beinhaltet.

In [34]:
s2.issuperset(s1)

True

 ## Symmetrie
 
 symmetric_difference() und symmetric_update() geben den symmetrischen Unterschied als ein neues Set zurück, d.h. all die Elemente, die (nur) in genau einem der Sets beinhaltet sind.

In [35]:
s1

{1, 2}

In [36]:
s2

{1, 2, 4}

In [37]:
s1.symmetric_difference(s2)

{4}

## Zusammenführung

Die Methode union() falls zwei Sets zusammen, d.h. alle Werte, die in mindestens einem der beiden Sets auftauchen.

In [38]:
s1.union(s2)

{1, 2, 4}

## Update

Um ein Set mit der Zusammenführung aus sich selbst und einem anderen Set zu überschreiben verwenden wir update().

In [39]:
s1.update(s2)

In [40]:
s1

{1, 2, 4}

Großartig! Jetzt sollten euch alle Methoden, die euch für Sets zur Verfügung stehen, geläufig sein. Diese Daten Struktur ist extrem nützlich und wird häufig von Anfängern unterschätzt. Behaltet es euch im Kopf!

Gute Arbeit!